nav{
	z-index: 100000;
}

img
{
	z-index: 1;
}
#up{
	top: -100px;
}


.grid {
	padding: 20px 20px 100px 20px;
	max-width: 900px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
	position: relative;
}


.grid li {
	display: inline-block;
	width: 390px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	 -webkit-animation: in 2.5s;
  -moz-animation: in 2.5s;
  -o-animation: in 2.5s;
  animation: in 2.5s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(17, 17, 17, 0.8);
	color: whitesmoke;
	z-index: 2;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-weight: 100;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #333;
}



.grid2 {
	padding: 20px 20px 100px 20px;
	max-width: 800px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
	position: relative;
	float: right;
	right: -10px;
}


.grid2 li {
	display: inline-block;
	width: 800px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.grid2 figure {
	margin: 0;
	position: relative;
}

.grid2 figure img {
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	 -webkit-animation: in 2.5s;
  -moz-animation: in 2.5s;
  -o-animation: in 2.5s;
  animation: in 2.5s;
}

.grid2 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(17, 17, 17, 0.8);
	color: whitesmoke;
}

.grid2 figcaption h3 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-weight: 100;
}

.grid2 figcaption span:before {
	content: 'by ';
}

.grid2 figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #333;
}

.grid4 {
	padding: 20px 20px 00px 20px;
	max-width: 800px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
	margin-top: -100px;
	position: relative;
	float: right;
	right: -10px;
}


.grid4 li {
	display: inline-block;
	width: 800px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.grid4 figure {
	margin: 0;
	position: relative;
}

.grid4 figure img {
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	 -webkit-animation: in 2.5s;
  -moz-animation: in 2.5s;
  -o-animation: in 2.5s;
  animation: in 2.5s;
}

.grid4 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(17, 17, 17, 0.8);
	color: whitesmoke;
}

.grid4 figcaption h3 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-weight: 100;
}

.grid4 figcaption span:before {
	content: 'by ';
}

.grid4 figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #333;
}


/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
 
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: .9;
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.cs-style-1 figcaption h3 {
	margin-top: 70%;
	font-size: 25px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 3px;
}
@-webkit-keyframes in {
  from {opacity: 0; -webkit-transform: translateY(0px);}
  to {opacity: 1; -webkit-transform: translateY(0);}
}

@-moz-keyframes in {
  from {opacity: 0; -moz-transform: translateY(0px);}
  to {opacity: 1; -moz-transform: translateY(0);}
}

@-o-keyframes in {
  from {opacity: 0; -o-transform: translateY(0px);}
  to {opacity: 1; -o-transform: translateY(0);}
}

@keyframes in {
  from {opacity: 0; transform: translateY(0px);}
  to {opacity: 1; transform: translateY(0);}
}

@media screen and (max-width: 1300px){
	.grid li {
	display: inline-block;
	width: 350px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.grid2 {
	padding: 20px 20px 100px 20px;
	max-width: 720px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
	position: relative;
	float: right;
	right: -10px;
}
.grid4 {
	padding: 20px 20px 100px 20px;
	max-width: 720px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	margin-top: -100px;
	top: -200px;
	position: relative;
	float: right;
	right: -10px;
}

#heading_g{
	top: -150px;
	left: 50px;
	position: relative;
	font-size: 105px;
}
} 

@media screen and (max-width: 1100px){
	.grid li {
	display: inline-block;
	width: 300px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.grid2 li {
	display: inline-block;
	width: 300px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	right: 0;
}
.grid2 {
	padding: 20px 20px 100px 20px;
	max-width: 620px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
	position: relative;
	float: right;
	right: -10px;
}
.grid4 li {
	display: inline-block;
	width: 300px;
	padding: 1px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	right: 0;
}
.grid4 {
	padding: 20px 20px 100px 20px;
	max-width: 620px;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	top: -200px;
		margin-top: -100px;
	position: relative;
	float: right;
	right: -10px;
}

#heading_g{
	top: -150px;
	left: 100px;
	position: relative;
	font-size: 100px;
}

} 

@media screen and (max-width: 800px) {
	.grid {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}


	.grid2 {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	right: 0;
	max-width: 100%;
	}
	.grid2 li {
		width: 100%;
		min-width: 300px;
	}
	.grid4 {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	right: 0;
	max-width: 100%;
	}
	.grid4 li {
		width: 100%;
		min-width: 300px;
	}

}

@media only screen and (min-width: 480px) and (max-width: 800px){
	.grid {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}


.grid2 {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	}
	.grid2 li {
		width: 100%;
		min-width: 300px;
	}
	.grid4 {
		padding: 10px 10px 100px 10px;
			top: 0px;
	position: relative;
	}
	.grid4 li {
		width: 100%;
		min-width: 300px;
	}
}
